body {
  background-color: ghostwhite;
  color: #c72b50;
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  margin: 2%;
}
#attribution {
  text-align: right;
}
h1 {
  text-align: center;
}
label {
  display: block;
}
div {
  margin-bottom: 2%;
}
.tab1 {
  tab-size: 4;
}
#submitButton {
  font-size: medium;
  background-color: #c72b50;
  color: ghostwhite;
}

.card {
  border-radius: 5px; /* 5px rounded corners */
  border-color: #c72b50;
  border-style: solid;
  padding: 5%;
}
