body {
  background-color: ghostwhite;
  color: #c72b50;
  display: flex;
  /* justify-content: space-between; */
  font-family: "Roboto", sans-serif;
  justify-content: center;
  margin: 2%;
}
#attribution {
  text-align: right;
}
h1 {
  text-align: center;
}
.tab1 {
  tab-size: 4;
}
#submitButton {
  background-color: #c72b50;
  color: ghostwhite;
}
#buttonContainer {
  margin-top: 2%;
  margin-bottom: 5%;
}
.card {
  border-radius: 5px; /* 5px rounded corners */
  border-color: #c72b50;
  border-style: solid;
  padding: 5%;
}
